html {
  height: 100%;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
}

body {
  height: 97%;
  border: 1px solid black;
}

#main {
  display: flex;
  justify-content: center;
  /*
  align-items: center;
  */
  text-align: center;
  height: 100%;
}
/*
#form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-star;
    text-align: center;
    border: 1px solid black;
}
*/
form {
    display: flex;
    flex-direction: column;
}

#wishlist-add-form {
    border: 1px solid black;
}
 
.label {
    display: block;
    align-self: flex-start;
    margin-left: 27%;
    margin-bottom: .5rem;
}

.input {
    align-self: flex-start;
    width: 45%;
    margin-left: 27%;
    margin-bottom: .5rem;
}

#button-container {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.button {
  width: 23%;
}

#table-container {
  display: flex;
  justify-content: center;
}

#wishlist-table {
  border-collapse: collapse;
}

#wishlist-table td,
th {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

#wishlist-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#wishlist-table th {
  color: white;
  background-color: #04aa6d;
}

.hidden {
  display: none;
}
